.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--white);
}

.inner {
  height: 100%;
  width: var(--default-layout-width, 1150px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-layout-horizontal-space);
}

.logo-link {
  display: flex;
}

//Action
.actions {
  display: flex;
  align-items: center;
}

.action-btn {
  color: #161823;
  background-color: transparent;
  font-size: 2.4rem;
  padding: 4px 14px;
  cursor: pointer;
  position: relative;
  height: 38px;

  .msg-icon {
    margin-bottom: -6px;
  }
}

.action-inbox {
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  left: 32px;
  background: rgb(254, 44, 85);
  min-width: 20px;
  height: 20px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  top: -5%;
  padding: 0px 6px;
}

.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}
